.s-main-nav {

  &__list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    li {
      padding: 0;
      margin-left: 1.5rem;
      line-height: 0;
      opacity: 1;
      transition-duration: 0.75s;
      transition-timing-function: $transition-timing;

      @for $i from 1 through 5 {

        &:nth-child(#{$i}) {
          transition-delay: 1750ms + ($i * 50ms);
        }
      }

      @media only screen and (min-width: $screen-md) {
        margin-left: 2.25rem;
      }

      &:first-child {
        margin-left: 0;
        margin-right: auto;
      }

      a {
        display: inline-block;
        color: currentColor;
        font-size: ms(-1);
        line-height: 1.4em;
        font-weight: 500;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: -0.5rem;
          right: -0.5rem;
          bottom: -0.5rem;
          left: -0.5rem;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -0.75rem;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: currentColor;
          transform: scaleX(0);
          transition: transform 0.5s $transition-timing;
          transform-origin: right center;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          &::after {
            transform: scaleX(1);
            transform-origin: left center;
          }

          svg {
            transform: rotateZ(810deg) scale(1.25);
          }
        }

        svg {
          fill: currentColor;
          display: inline-block;
          vertical-align: middle;
          margin-left: 0.5rem;
          transform-origin: center center;
          transition: transform 1s $transition-timing;
          position: relative;
          top: -0.025rem;
        }
      }
    }
  }
}
