.s-table {
  display: block;
  width: 100%;
  overflow-x: auto;
  border-top: 1px solid $text-color;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  font-size: ms(-1);
  line-height: 1.3em;
  background-color: $bg-color;
  padding-bottom: 3rem;

  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 4.5rem;
  }

  table {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 0.5rem;
    vertical-align: top;
    word-break: keep-all;
  }

  th {
    text-align: left;
    font-weight: 500;

    @media only screen and (min-width: $screen-sm) {
      padding: 1rem;
    }
  }

  td {

    @media only screen and (min-width: $screen-sm) {
      padding: 0.75rem 1rem;
    }
  }

  td[colspan] {
    font-weight: 500;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
}