.s-field-actions {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;

  @media only screen and (min-width: $screen-sm) {
    padding-left: 1.5rem;
  }

  &__text {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
