.s-download-catalog {
  font-weight: 500;
  font-size: ms(-1);
  line-height: 1.3em;
  display: inline-flex;
  color: $primary-color;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $primary-color;

    .s-download-catalog__icon-default {
      transform: translate3d(0,100%,0);
      opacity: 0;
    }

    .s-download-catalog__icon-hover {
      transform: translate3d(-50%, -50%, 0);
      opacity: 1;
    }
  }

  &__label {
    display: inline-block;
    margin-right: 0.5rem;
  }

  &__icon-wrapper {
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  &__icon-default {
    display: block;
    transition:
      transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
      opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 1;
    transition:
      transform 0.75s $transition-timing--linear,
      opacity 0.5s $transition-timing--linear;
  }

  &__icon-hover {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-150%,0);
    opacity: 0;
    transition:
      transform 0.75s $transition-timing--linear,
      opacity 0.5s $transition-timing--linear;
  }
}