mixin download-catalog(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +download-catalog()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-download-catalog--' + modsList[i].trim();
      }
    }

  a.s-download-catalog(href='/', class=allMods)&attributes(attributes)
    span.s-download-catalog__label Скачать .pdf каталог
    span.s-download-catalog__icon-wrapper
      span.s-download-catalog__icon-default
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 8 11', width='8', height='11')
          path(d='M7.84986 6.92c.2-.2.2-.51 0-.71-.2-.2-.51-.2-.71 0l-2.58 2.58V.5c0-.28-.22-.49999999-.5-.5-.28-1e-8-.5.22-.5.5v8.29l-2.58-2.58c-.2-.2-.51-.2-.71 0-.047187.04527-.084734.09961-.110383.15975-.02565.06015-.038872.12486-.038872.19025s.013222.1301.038872.19025c.025649.06015.063196.11448.110383.15975l3.79 3.79 3.79-3.78z')
      span.s-download-catalog__icon-hover
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 8 11', width='8', height='11')
          path(d='M7.84986 6.92c.2-.2.2-.51 0-.71-.2-.2-.51-.2-.71 0l-2.58 2.58V.5c0-.28-.22-.49999999-.5-.5-.28-1e-8-.5.22-.5.5v8.29l-2.58-2.58c-.2-.2-.51-.2-.71 0-.047187.04527-.084734.09961-.110383.15975-.02565.06015-.038872.12486-.038872.19025s.013222.1301.038872.19025c.025649.06015.063196.11448.110383.15975l3.79 3.79 3.79-3.78z')
