$font-variable: false;

@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

.s-page {
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 320px;
  background-color: $bg-color;
  font-family: $font-family;
  font-size: 20px;
  line-height: 1.5em;

  body {
    background-color: inherit;
    -webkit-overflow-scrolling: touch;

    &.prevent-scroll {
      position: fixed;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
    position: relative;
  }

  .row {
    margin: 0;
  }

  .col {
    padding: 0;
  }
}