mixin promo(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +promo()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-promo--' + modsList[i].trim();
      }
    }

  section.s-promo.s-promo--is-hidden
    .s-promo__content
      .s-promo__cover
        img(src='img/promo-img.jpg', alt='', width='335', height='240')
      .s-promo__inner
        .row
          .col.col-md-5
            span.s-promo__subtitle Пожалуй, лучшие гайки в мире
            h1.s-promo__title Broken crayons still color
            p.s-promo__intro Разработаем проектную и конструкторскую документацию. Контролируем качество продукции и производственных процессов.
            .s-promo__btn
              +btn()(href='/')
                | Узнать подробнее о нас
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 11', width='12', height='11')
                  path(d='M11.7347 4.81325L8.03368.77883c-.34105-.371773-.90947-.371773-1.25052 0-.34105.37177-.34105.99139 0 1.36317l2.18526 2.39587H.884211C.391579 4.53787 0 4.96472 0 5.50172c0 .53701.391579.96386.884211.96386H8.96842l-2.18526 2.3821c-.34105.37177-.34105.99139 0 1.36312.17684.1928.40421.2892.63158.2892.22737 0 .45473-.0964.63158-.2892l3.68838-4.02061c.1642-.179.2653-.42685.2653-.68847s-.0884-.50947-.2653-.68847z')