.s-article-card {
  position: relative;
  padding: 1.5rem 1rem;
  border: 1px solid $border-color;
  border-bottom: 0;
  background-color: $bg-color;
  cursor: pointer;
  transition: opacity 0.75s $transition-timing--linear;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e4e9ec;
    z-index: 1;
    transform: scaleY(0);
    transition: transform 0.75s $transition-timing--linear;
    transform-origin: center bottom;
  }

  @media only screen and (min-width: $screen-sm) {
    padding: 1.5rem;
  }

  @media only screen and (min-width: $screen-lg) {
    padding: 2.25rem 0 0 0;
    min-height: 10.5rem;
  }

  &:hover,
  &:focus {

    &::before {
      transform: scaleX(1);
      transform-origin: center top;
    }

    .s-article-card__actions {
      border: 1px solid rgba($text-color, 1);
    }
  }

  &__inner {
    position: relative;
    z-index: 2;

    @media only screen and (min-width: $screen-lg) {
      display: flex;
      flex-flow: row nowrap;
    }
  }

  &__header {
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-lg) {
      flex: 0 0 25%;
      max-width: 25%;
      padding: 0 1.5rem;
      margin: 0;
    }
  }

  &__title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  &__main {
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-lg) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 1.5rem;
      margin: 0;
    }
  }

  &__intro {
    font-size: ms(-1);
    line-height: 1.5em;
    margin: 0;
    max-width: 40em;
  }

  &__footer {

    @media only screen and (min-width: $screen-lg) {
      flex: 0 0 25%;
      max-width: 25%;
      padding: 0 1.5rem;
      text-align: right;
    }
  }

  &__date {
    line-height: 1em;
    opacity: 0.5;
    font-feature-settings: 'onum' 1;

    @supports (font-variant: lining-nums) {
      font-feature-settings: normal;
      font-variant-numeric: oldstyle-nums;
      font-kerning: normal;
    }
  }

  &__day {
    font-size: ms(-1);
    line-height: 1em;
    display: inline-block;
    vertical-align: baseline;
    font-weight: 500;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(1);
      display: block;
    }
  }

  &__year {
    font-size: ms(-2);
    line-height: 1.3em;
    display: inline-block;
    vertical-align: baseline;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(-1);
      display: block;
    }
  }

  &__actions {
    width: 46px;
    height: 46px;
    border-radius: 46px;
    border: 1px solid rgba($text-color, 0.125);
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 1s cubic-bezier(.01, .72, .74, 1);
    margin-top: 1.5rem;
    z-index: 2;
    position: relative;

    @media only screen and (min-width: $screen-lg) {
      position: absolute;
      right: 1.5rem;
      bottom: 1.5rem;
      margin: 0;
    }

    svg {
      display: block;
      fill: currentColor;
    }
  }

  &__link {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

   &--is-hidden {

     .js & {
       opacity: 0;
     }
   }
}