mixin article-card(title, mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +article-card()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-article-card--' + modsList[i].trim();
      }
    }

  article.s-article-card.s-article-card--is-hidden(class=allMods)&attributes(attributes)
    .s-article-card__inner
      .s-article-card__header
        h2.s-article-card__title #{title}
      .s-article-card__main
        p.s-article-card__intro Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
      .s-article-card__footer
        .s-article-card__date
          span.s-article-card__day 20.01
          span.s-article-card__year 2020
    .s-article-card__actions
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 10', wudth='10', height='10')
        path(fill-rule='evenodd', d='M5 0c-.36819 0-.66667.298477-.66667.666667V4.33333H.666667C.298472 4.33333 0 4.63181 0 5c0 .36819.298472.66667.666667.66667H4.33333v3.66666C4.33333 9.70152 4.63181 10 5 10c.36819 0 .66667-.29848.66667-.66667V5.66667h3.66666C9.70153 5.66667 10 5.36819 10 5c0-.36819-.29847-.66667-.66667-.66667H5.66667V.666667C5.66667.298477 5.36819 0 5 0z', clip-rule='evenodd')
    a.s-article-card__link(href='/')