.s-breadcrumb {
  padding: 0;
  list-style: none;
  color: $text-color;
  font-size: ms(-1);
  line-height: 1.4em;

  a {
    color: $text-color;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.25s $transition-timing--linear;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
      opacity: 1;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 0.5rem;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      margin-left: 0.5rem;
      opacity: 0.5;
    }
  }
}