.s-page-header {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  color: $text-color;
  z-index: 1000;

  @media only screen and (max-width: ($screen-sm - 1)) {
    border-bottom: 1px solid $text-color;
    background-color: $bg-color;
  }

  &__inner {
    @include section-inner;
  }

  &__info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    @media only screen and (min-width: $screen-xs) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @media only screen and (min-width: $screen-md) {
      padding: 1rem 1.5rem;
    }
  }

  &__logo,
  &__phone,
  &__get-call {
    opacity: 1;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
  }

  &__logo {
    transition-delay: 1.75s;

    img {
      display: inline-block;
      vertical-align: middle;
      transform: translateY(-1px);

      @media only screen and (max-width: ($screen-sm - 1)) {
        width: 28px;
        height: 30px;
      }
    }
  }

  &__slogan {
    font-size: ms(0);
    line-height: 1.5em;
    margin-left: 1rem;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    flex-grow: 0;

    @media only screen and (max-width: ($screen-xs - 1)) {
      max-width: 10em;
      font-size: ms(-1);
      line-height: 1em;
      margin-left: 0.5rem;
    }
  }

  &__phone {
    font-weight: 500;
    font-size: ms(-1);
    line-height: 1.4em;
    margin-left: auto;
    color: currentColor;
    transition-delay: 1.95s;
    font-feature-settings: 'lnum'1, 'tnum'1;

    @supports (font-variant: lining-nums) {
      font-feature-settings: normal;
      font-variant-numeric: tabular-nums;
      font-kerning: normal;
    }

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }
  }

  &__get-call {
    font-size: ms(-1);
    line-height: 1.4em;
    margin-left: 1.5rem;
    transition-delay: 2s;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }

    @media only screen and (min-width: $screen-md) {
      margin-left: 2.25rem;
    }
  }

  &__hamburger {

    @media only screen and (min-width: $screen-sm) {
      display: none;
    }
  }

  &__hamburger {
    margin-left: auto;
  }

  &__nav {
    padding: 1rem 1.5rem;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $text-color;
      transition: $transition-duration $transition-timing;
      transition-delay: 1s;
      transform: scaleX(1);
      transform-origin: left center;
    }

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &--is-hidden {

    .js & {

      .s-page-header__logo,
      .s-page-header__phone,
      .s-page-header__get-call,
      .s-page-header__nav li {
        transform: $transform-from-hidden;
        opacity: 0;
      }

      .s-page-header__nav {

        &::before {
          transform: scaleX(0);
        }
      }
    }
  }
}