mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header.s-page-header--is-hidden(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__inner
      .s-page-header__info
        +logo('/').s-page-header__logo
          img(src='img/logo.png', alt='Constructsol логотип', width='38', height='41')
          span.s-page-header__slogan Конструктивные решения
        a.s-page-header__phone(href='tel:+78129222647') +7 812 922-26-47
        +call-back-btn('Заказать звонок').s-page-header__get-call
        +hamburger('Show mobile menu', 's-mobile-menu', 's-mobile-menu--is-active').s-page-header__hamburger
      nav.s-main-nav.s-page-header__nav.s-page-header__nav--is-hidden
        ul.s-main-nav__list.s-main-nav__list--is-hidden
          li
            a(href='/')
              | Продукция
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 11 13', width='11', height='13')
                path(fill-rule='evenodd', d='M5.47738.0004424c-.04325.00432024-.08498.0185224-.12212.0415531L.144737 3.14463c-.043724.02577-.080086.06276-.1054758.10731C.0138714 3.29649.00033648 3.34703 0 3.39857v6.20528c.00033774.05154.0138732.10208.039263.14662.0253898.04454.061751.08154.105474.10731L5.35526 12.9604c.04401.0259.09393.0396.14474.0396.05081 0 .10073-.0137.14474-.0396l5.21056-3.10262c.0437-.02577.08-.06277.1054-.10731.0254-.04454.039-.09508.0393-.14662V3.39857c-.0003-.05154-.0139-.10208-.0393-.14663-.0254-.04455-.0617-.08154-.1054-.10731L5.64474.0419955C5.60358.0168863 5.55695.00260772 5.50905.0004424a.28361864.28361864 0 00-.03167 0zM5.5 3.25082c1.7545 0 3.31679 1.45942 3.31679 3.25038 0 1.7923-1.56246 3.25039-3.31679 3.25039-1.75564 0-3.18421-1.45826-3.18421-3.25039 0-1.79078 1.4284-3.25038 3.18421-3.25038z', clip-rule='evenodd')
          li: a(href='/') О компании
          li: a(href='/') Сертификаты
          li: a(href='/') Справочная информация
          li: a(href='/') Контакты
