.s-articles {
  padding: 3rem 1rem 0 1rem;
  position: relative;
  z-index: 101;

  @media only screen and (min-width: $screen-sm) {
    padding: 3rem 1rem 0 1rem;
  }

  &__breadcrumb,
  &__header {
    opacity: 1;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
    transition-delay: 1.75s;
  }

  &__inner {
    @include section-inner;
  }

  &__breadcrumb {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__header {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-bottom: 2.25rem;
    }
  }

  &__title {
    font-size: ms(2);
    line-height: 1.1em;
    margin: 0;
    font-weight: 500;

    @media only screen and (max-width: ($screen-xs - 1)) {
      margin-bottom: 0.25rem;
    }

    @media only screen and (min-width: $screen-xs) {
      display: inline-block;
    }

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(3);
      text-indent: -0.05em;
    }
  }

  &--is-hidden {

    .js & {

      .s-articles__breadcrumb,
      .s-articles__header {
        transform: $transform-from-hidden;
        opacity: 0;
      }
    }
  }
}