@mixin field-help-text {
  $text-color--muted:         hsl(0, 0%, 50%) !default;
  $font-size--small:          0.75em !default;

  display: block;
  padding-top: 0.4em;
  font-size: $font-size--small;
  line-height: 1.2em;
  color: $text-color--muted;

  &:empty {
    display: none;
  }
}


@mixin field-focus {
  outline: 0;
  border-color: $primary-color;
}


@mixin field-name {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: ms(-1);
  line-height: 1.4em;
  padding-left: 1rem;

  @media only screen and (min-width: $screen-sm) {
    padding-left: 1.5rem;
  }
}