.s-categories {
  padding: 3rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 3.75rem 1rem;
  }

  &__inner {
    @include section-inner;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
    }
  }

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
    transition-delay: 0.9s;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 3rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      order: 1;
    }
  }

  &__slider {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 3;
    }

    .swiper-slide {

      @for $i from 1 through 8 {

        &:nth-child(#{$i}) {

          .s-category-card__cover {

            &::after {
              transition-delay: 0+($i * 100ms);
            }
          }
        }
      }
    }
  }

  &__slider-nav {
    display: flex;
    flex-flow: row nowrap;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
    transition-delay: 1s;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
      order: 2;
      align-items: center;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }

  &__slider-nav-btn {
    position: relative;
    padding: 0 0.75rem;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s $transition-timing--linear;

    &[aria-disabled='true'] {

      svg {
        opacity: 0.25;
      }
    }

    @media only screen and (max-width: ($screen-sm - 1)) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      height: 50px;
      background-color: $text-color;
      color: #fff;
    }

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      height: 19px;
    }

    svg {
      display: block;
      transition: all 0.5s $transition-timing--linear;
      fill: currentColor;
    }

    &:not([aria-disabled='true']):active {

      @media only screen and (max-width: ($screen-sm - 1)) {
        background-color: lighten($text-color, 5%);
      }
    }

    &:active {

      svg {

        @media only screen and (min-width: $screen-sm) {
          fill: $primary-color;
        }
      }
    }

    &::after {
      position: absolute;
      content: '';
      top: -0.75rem;
      right: -0.75rem;
      bottom: -0.75rem;
      left: -0.75rem;
    }

    &--prev {

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }

      @media only screen and (max-width: ($screen-sm - 1)) {
        border-right: 1px solid rgba(#fff, 0.05);
      }
    }
  }

  &--is-hidden {

    .js & {

      .s-categories__title,
      .s-categories__slider-nav {
        transform: $transform-from-hidden;
        opacity: 0;
      }

      .swiper-slide {

        .s-category-card__cover {

          &::after {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }
}