mixin categories(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +categories()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-categories--' + modsList[i].trim();
      }
    }

  article.s-categories.s-categories--is-hidden(class=allMods)&attributes(attributes)
    .s-categories__inner
      h2.s-categories__title: span Что производим
      .s-categories__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              +category-card('img/category-example-1.jpg', 'Гайки')
            .swiper-slide
              +category-card('img/category-example-2.jpg', 'Тройники')
            .swiper-slide
              +category-card('img/category-example-3.jpg', 'Крестовины')
            .swiper-slide
              +category-card('img/category-example-4.jpg', 'Клапаны')
            .swiper-slide
              +category-card('img/category-example-1.jpg', 'Гайки')
            .swiper-slide
              +category-card('img/category-example-2.jpg', 'Тройники')
            .swiper-slide
              +category-card('img/category-example-3.jpg', 'Крестовины')
            .swiper-slide
              +category-card('img/category-example-4.jpg', 'Клапаны')
      .s-categories__slider-nav
        .s-categories__slider-nav-btn.s-categories__slider-nav-btn--prev
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
            path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')
        .s-categories__slider-nav-btn.s-categories__slider-nav-btn--next
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
            path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')