.s-reference-info {
  padding: 3rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 7rem 1rem;
  }

  &__inner {
    @include section-inner;
  }

  &__title,
  &__item {
    opacity: 1;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
    transition-delay: 0;
  }

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__item {
    margin: 0;

    @for $i from 1 through 4 {

      &:nth-child(#{$i}) {
        transition-delay: 0ms + ($i * 100ms);
      }
    }
  }

  &__card {
    padding: 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 1.5rem;
    }
  }

  &__subtitle {
    font-size: ms(0);
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 0.75rem;
    }
  }

  &__intro {
    font-size: ms(-1);
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 0.5rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__more-link {
    font-size: ms(-1);
    line-height: 1.3em;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 0.25rem;
    color: currentColor;
    text-decoration: none;

    &::before {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
      transform: scaleX(1);
      transition: transform 0.5s $transition-timing;
      transform-origin: left center;
    }

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;

      &::after {
        transform: scaleX(0);
        transform-origin: right center;
      }
    }
  }

  &--is-hidden {

    .js & {

      .s-reference-info__title,
      .s-reference-info__item {
        transform: $transform-from-hidden;
        opacity: 0;
      }
    }
  }
}