mixin reference-info()

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +reference-info()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-reference-info--' + modsList[i].trim();
      }
    }

  section.s-reference-info.s-reference-info--is-hidden(class=allMods)&attributes(attributes)
    .s-reference-info__inner
      h2.s-reference-info__title: span Справочная информация
      ul.s-reference-info__list.row
        li.s-reference-info__item.col.col-12.col-md-6.col-lg-3
          .s-reference-info__card
            h3.s-reference-info__subtitle Порядок монтажа
            p.s-reference-info__intro Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            a.s-reference-info__more-link(href='/') Подробнее
        li.s-reference-info__item.col.col-12.col-md-6.col-lg-3
          .s-reference-info__card
            h3.s-reference-info__subtitle Размеры труб
            p.s-reference-info__intro Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            a.s-reference-info__more-link(href='/') Подробнее
        li.s-reference-info__item.col.col-12.col-md-6.col-lg-3
          .s-reference-info__card
            h3.s-reference-info__subtitle Присоединительные размеры
            p.s-reference-info__intro Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
            a.s-reference-info__more-link(href='/') Подробнее
        li.s-reference-info__item.col.col-12.col-md-6.col-lg-3
          .s-reference-info__card
            h3.s-reference-info__subtitle Что-то еще
            p.s-reference-info__intro Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            a.s-reference-info__more-link(href='/') Подробнее