mixin mobile-menu()

  #s-mobile-menu.s-mobile-menu
    .s-mobile-menu__inner
      ul.s-mobile-menu__list.s-mobile-menu__list--services
        li: a(href='/') Производство соединений и арматуры​
        li: a(href='/') Механическая обработка и литье металлов
        li: a(href='/') Разработка конструкторской документации
        li: a(href='/') Разработка технических условий
      ul.s-mobile-menu__list.s-mobile-menu__list--pages
        li: a(href='/') О компании
        li: a(href='/') Сертификаты
        li: a(href='/') Справочная информация
        li: a(href='/') Контакты
        li: a(href='/') Карта сайта
      ul.s-mobile-menu__list.s-mobile-menu__list--contacts
        li: a(href='tel:+78129222647') +7 812 922-26-47
        li: a(href='mailto:info@constructsol.ru') info@constructsol.ru
        li: address Санкт-Петербург, пр. Обуховской обороны 7
        li
          +call-back-btn('Заказать звонок')
