.s-btn {
  position: relative;
  display: inline-block;
  background-color: transparent;
  background-image: none;
  color: $text-color;
  margin: 0;
  border: none;
  border-radius: 0;
  font-size: ms(-1);
  line-height: 1.5em;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  padding: 0.25rem 1.25rem 0.25rem 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  &::before {
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    background-color: $primary-color;
    border-radius: 1rem;
    top: 50%;
    right: 0;
    transform: translate3d(0,-55%,0);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 1;
  }

  &::after {
    position: absolute;
    content: '';
    height: 4px;
    bottom: -0.25rem;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba($text-color, 0.25);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate3d(0,-55%,0) scale(0.5);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    fill: $primary-color;
  }

  &:hover,
  &:focus {
    padding-right: 2rem;
    color: $primary-color;
    text-decoration: none;

    &::before {
      opacity: 0;
      transform: translate3d(0, -50%, 0) scale(0.5);
    }

    &::after {
      background-color: $primary-color;
    }

    svg {
      opacity: 1;
      transform: translate3d(0, -50%, 0) scale(1);
    }
  }

  &:active,
  &:focus {}

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}