.s-article {
  padding: 0 1rem;
  position: relative;
  z-index: 101;

  &__inner {
    @include section-inner;
  }

  &__cover {
    position: relative;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (9 / 21) * 100%;

      @media only screen and (max-width: ($screen-sm - 1)) {
        padding-top: (9 / 16) * 100%;
      }
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: -100%;
      width: 200%;
      height: 100%;
      background-color: $text-color;
      background-image:
        linear-gradient(to right,
          $text-color,
          $text-color 50%,
          $bg-color 50%,
          $bg-color 100%);
      transform: translate3d(calc(100% + 1px), 0, 0);
      will-change: transform;
      transition: $transition-duration $transition-timing;
      transition-delay: 1.25s;
      z-index: 2;
    }

    img {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition-duration $transition-timing--linear;
      transition-delay: 1.5s;
    }
  }

  &__content {
    transition: $transition-duration $transition-timing--linear;
    transition-delay: 2.5s;
  }

  &__breadcrumb {
    padding: 1.5rem;
    padding-top: 3rem;

    .s-breadcrumb__item {
      display: block;
      margin-bottom: 0.25rem;
    }
  }

  &__main {
    padding-top: 1.5rem;
    padding-bottom: 2.25rem;
    background-color: $bg-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;

    @media only screen and (min-width: $screen-sm) {
      padding-top: 3rem;
      padding-bottom: 4.5rem;
    }
  }

  &__text {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__image {
    margin: 1.5rem 0;

    @media only screen and (min-width: $screen-sm) {
      margin: 2.25rem 0;
    }
  }

  &__title {
    font-size: ms(3);
    line-height: 1.1em;
    margin-bottom: 0.75rem;
    font-weight: 500;
    opacity: 1;
    padding-left: 1rem;
    padding-right: 1rem;

    @media only screen and (max-width: ($screen-sm - 1)) {
      font-size: ms(2);
    }

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &--is-hidden {

    .js & {

      .s-article__cover {

        &::after {
          transform: translate3d(0, 0, 0);
        }

        img {
          transform: translate3d(-6rem, 0, 0);
        }
      }

      .s-article__content {
        opacity: 0;
      }
    }
  }
}