.s-loader {

  .js & {
     position: fixed;
     content: '';
     z-index: 100000;
     top: 0;
     width: 100%;
     height: 100%;
     background: $bg-color;
     opacity: 0;
     left: 100%;
     transition:
      opacity 0.25s cubic-bezier(0.165, 0.84, 0.44, 1),
      left 0s 0.25s;
  }

  &__cube-grid {

    .js & {
      position: absolute;
      width: 2rem;
      height: 2rem;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__cube {
    width: 33%;
    height: 33%;
    background-color: $text-color;
    animation: loaderAnim 2s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
    will-change: transform;
    transform-origin: center center;

    @for $i from 1 through 9 {

      &:nth-child(#{$i}) {
        animation-delay: 50ms + ($i * 50ms);
      }
    }
  }

  @keyframes loaderAnim {

    0%, 70%, 100% {
      transform: scale3D(1, 1, 1);
      opacity: 1;
    }

    25% {
      opacity: 0;
      transform: scale3D(0, 0, 1);
    }
  }

  &--is-active {

    .js & {
      opacity: 1;
      left: 0;
    }
  }
}