//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/dropcap/dropcap.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/external-link/external-link.pug
include ../blocks/table/table.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/pagination/pagination.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/style-guide/style-guide.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/promo/promo.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/social/social.pug
include ../blocks/grid/grid.pug
include ../blocks/loader/loader.pug
include ../blocks/categories/categories.pug
include ../blocks/category-card/category-card.pug
include ../blocks/main-slider/main-slider.pug
include ../blocks/main-slider-nav/main-slider-nav.pug
include ../blocks/why-choose-us/why-choose-us.pug
include ../blocks/services/services.pug
include ../blocks/reference-info/reference-info.pug
include ../blocks/call-back-btn/call-back-btn.pug
include ../blocks/catalog/catalog.pug
include ../blocks/download-catalog/download-catalog.pug
include ../blocks/product-card/product-card.pug
include ../blocks/filter/filter.pug
include ../blocks/product/product.pug
include ../blocks/product-promo/product-promo.pug
include ../blocks/product-info/product-info.pug
include ../blocks/product-sketch/product-sketch.pug
include ../blocks/product-table/product-table.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/articles/articles.pug
include ../blocks/article-card/article-card.pug
include ../blocks/article/article.pug
include ../blocks/next-article/next-article.pug
include ../blocks/contacts/contacts.pug
