.s-services {
  padding: 3rem 1rem;
  position: relative;
  overflow: hidden;

  @media (min-width: $screen-sm) {
    padding: 0 1rem;
  }

  &__inner {
    @include section-inner;
    position: relative;
  }

  &__title {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @media only screen and (min-width: $screen-sm) {
      position: absolute;
      top: 3rem;
      left: 0;
      z-index: 10;
      color: #fff;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    span {
      position: relative;

      &::after {
        position: relative;
        content: '';
        background-color: $primary-color;
        height: 1px;
        width: 2.5rem;
        right: 0;
        margin-left: 0.75rem;
        display: inline-block;
        vertical-align: middle;

        @media only screen and (min-width: $screen-sm) {
          background-color: currentColor;
        }
      }
    }
  }

  &__card {
    display: block;
    position: relative;
    color: #fff;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#0a0e0f, 0);
      transition: 0.5s cubic-bezier(.01, .72, .74, 1);
    }

    &:hover,
    &:focus,
    &--is-active {
      text-decoration: none;
      color: #fff;

      @media only screen and (min-width: $screen-sm) {

        &::after {
          background-color: rgba(#0a0e0f, 0.25);
        }
      }
    }

    &:hover,
    &:focus {

      .s-services__card-actions {
        background-color: #fff;
        color: $text-color;
      }
    }
  }

  &__card-info {
    position: relative;
    z-index: 2;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
    transition-delay: 1.75s;

    @media only screen and (max-width: ($screen-sm - 1)) {

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: (4 / 3) * 100%;
      }
    }

    @media only screen and (min-width: $screen-sm) {
      min-height: 30rem;
      height: 50vh;
      max-width: 45rem;
    }

    @media only screen and (min-width: $screen-lg) {
      min-height: 34.5rem;
    }
  }

  &__card-info-inner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
  }

  &__card-title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding: 1rem 1rem 0 1rem;
    max-width: 80%;

    @media only screen and (min-width: $screen-lg) {
      padding: 1.5rem 1.5rem 0 1.5rem;
    }
  }

  &__card-actions {
    width: 46px;
    height: 46px;
    border-radius: 46px;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 1.5rem 1rem;
    transition: 0.5s cubic-bezier(.01, .72, .74, 1);

    @media only screen and (min-width: $screen-lg) {
      margin: 1.5rem 1.5rem 2.25rem 1.5rem;
    }

    svg {
      display: block;
      fill: currentColor;
    }
  }

  &__card-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    @media only screen and (min-width: $screen-sm) {
      display: none;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($text-color, 0.25);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider {
    margin-bottom: 1px;
  }

  &__slider-nav {
    display: flex;
    flex-flow: row nowrap;

    @media only screen and (min-width: $screen-sm) {
      display: none;
    }
  }

  &__slider-nav-btn {
    position: relative;
    padding: 0 0.75rem;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s $transition-timing--linear;

    &[aria-disabled='true'] {

      svg {
        opacity: 0.25;
      }
    }

    @media only screen and (max-width: ($screen-sm - 1)) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      height: 50px;
      background-color: $text-color;
      color: #fff;
    }

    svg {
      display: block;
      transition: all 0.5s $transition-timing--linear;
      fill: currentColor;
    }

    &:not([aria-disabled='true']):active {

      @media only screen and (max-width: ($screen-sm - 1)) {
        background-color: lighten($text-color, 5%);
      }
    }

    &::after {
      position: absolute;
      content: '';
      top: -0.75rem;
      right: -0.75rem;
      bottom: -0.75rem;
      left: -0.75rem;
    }

    &--prev {

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }

      @media only screen and (max-width: ($screen-sm - 1)) {
        border-right: 1px solid rgba(#fff, 0.05);
      }
    }
  }

  &__wrapper {

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__slide {

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 25%;
      max-width: 25%;
    }

    @for $i from 1 through 4 {

      &:nth-child(#{$i}) {

        .s-services__card-info-inner {
          transition-delay: 1000ms + ($i * 75ms);
        }
      }
    }
  }

  &__bg-cover-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $text-color;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      background-image:
      linear-gradient(
        to right,
        $text-color,
        $text-color 50%,
        $bg-color 50%,
        $bg-color 100%);
      transform: translate3d(50%, 0, 0);
      transition-duration: 2.5s;
      transition-timing-function: $transition-timing;
      transition-delay: 0s;
      will-change: transform;
      z-index: 1;
    }
  }

  &__bg-cover-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s $transition-timing--linear;
    will-change: opacity;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 3s cubic-bezier(.01, .72, .74, 1);
      will-change: transform;
      transform-origin: center center;
    }

    &--is-active {
      opacity: 1;

      img {
        transform: scale(1.05)
      }
    }
  }

  &__grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    padding-left: 1rem;
    padding-right: 1rem;
    pointer-events: none;
  }

  &__grid-col {
    border-right: 1px solid rgba(#fff, 0.1);
    height: 100vh;

    &:first-child {
      border-left: 1px solid rgba(#fff, 0.1);
    }
  }

  &--is-hidden {

    .js & {

      .s-services__bg-cover-list {

        &::before {
          transform: translate3d(-50%, 0, 0);
        }
      }

      .s-services__card-info-inner {
        transform: $transform-from-hidden;
        opacity: 0;
      }
    }
  }
}