mixin services()

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +services()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-services--' + modsList[i].trim();
      }
    }

  mixin services-card(title, image, target)

    //- Param:
      mods  {string} - modifiers

    //- Usage:
      +services-card()

    -
      // Modifiers
      var allMods = '';
      if (typeof(mods) !== 'undefined' && mods) {
        var modsList = mods.split(',');
        for (var i = 0; i < modsList.length; i++) {
          allMods = allMods + ' s-services-card--' + modsList[i].trim();
        }
      }

    a.s-services__card(href='/', class=allMods, data-target-bg=target)&attributes(attributes)
      .s-services__card-info
        .s-services__card-info-inner
          h3.s-services__card-title #{title}
          .s-services__card-actions
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 10', wudth='10', height='10')
              path(fill-rule='evenodd', d='M5 0c-.36819 0-.66667.298477-.66667.666667V4.33333H.666667C.298472 4.33333 0 4.63181 0 5c0 .36819.298472.66667.666667.66667H4.33333v3.66666C4.33333 9.70152 4.63181 10 5 10c.36819 0 .66667-.29848.66667-.66667V5.66667h3.66666C9.70153 5.66667 10 5.36819 10 5c0-.36819-.29847-.66667-.66667-.66667H5.66667V.666667C5.66667.298477 5.36819 0 5 0z', clip-rule='evenodd')
      .s-services__card-cover
        img(src=image, alt='')

  section.s-services.s-services--is-hidden.s-services--is-none-events(class=allMods)&attributes(attributes)
    .s-services__inner
      h2.s-services__title: span Какие услуги оказываем

      .s-services__slider
        .swiper-container
          .swiper-wrapper.s-services__wrapper
            .swiper-slide.s-services__slide
              +services-card('Производство соединений и арматуры​', 'https://images.unsplash.com/photo-1528915427978-debeeeb4c88c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'first')
            .swiper-slide.s-services__slide
               +services-card('Механическая обработка и литье металлов', 'https://images.unsplash.com/photo-1451438143976-4e1aa4f7f153?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'second')
            .swiper-slide.s-services__slide
              +services-card('Разработка конструкторской документации', 'https://images.unsplash.com/photo-1465158753229-aa725fff85a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'third')
            .swiper-slide.s-services__slide
              +services-card('Разработка технических условий', 'https://images.unsplash.com/photo-1550183337-1e6177d8dd53?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'fourth')

      .s-services__slider-nav
        .s-services__slider-nav-btn.s-services__slider-nav-btn--prev
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
            path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')
        .s-services__slider-nav-btn.s-services__slider-nav-btn--next
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
            path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')

    ul.s-services__bg-cover-list
      li.s-services__bg-cover-item.s-services__bg-cover-item--is-active(data-bg='first')
        img(src='https://images.unsplash.com/photo-1528915427978-debeeeb4c88c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2868&q=80', alt='')
      li.s-services__bg-cover-item(data-bg='second')
        img(src='https://images.unsplash.com/photo-1552857546-998d6a37f844?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80', alt='')
      li.s-services__bg-cover-item(data-bg='third')
        img(src='https://images.unsplash.com/photo-1520642589361-855efeb16791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2448&q=80', alt='')
      li.s-services__bg-cover-item(data-bg='fourth')
        img(src='https://images.unsplash.com/photo-1506749547535-fe88ffa57a7a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80', alt='')

    .s-services__grid
      .s-services__inner
        .s-services__grid-row.row
          .s-services__grid-col.col
          .s-services__grid-col.col.d-none.d-sm-block
          .s-services__grid-col.col.d-none.d-md-block
          .s-services__grid-col.col.d-none.d-md-block