.s-catalog {
  padding: 3rem 1rem;

  @media only screen and (min-width: $screen-sm) {
    padding: 3rem 1rem 7.5rem;
  }

  &__breadcrumb,
  &__header,
  &__section-title {
    opacity: 1;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
    transition-delay: 1.75s;
  }

  &__inner {
    @include section-inner;
  }

  &__breadcrumb {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__header {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-bottom: 2.25rem;
    }
  }

  &__title {
    font-size: ms(2);
    line-height: 1.1em;
    margin: 0;
    font-weight: 500;

    @media only screen and (max-width: ($screen-xs - 1)) {
      margin-bottom: 0.25rem;
    }

    @media only screen and (min-width: $screen-xs) {
      display: inline-block;
    }

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(3);
      text-indent: -0.05em;
    }
  }

  &__download-catalog {

    @media only screen and (min-width: $screen-xs) {
      margin-left: 0.75rem;
    }
  }

  &__filter {
    margin-bottom: 3rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 6rem;
    }
  }

  &__section {

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__section-title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 3rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__list {

    @media only screen and (min-width: $screen-xs) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__item {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-xs) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media only screen and (min-width: $screen-md) {
      flex: 0 0 25%;
      max-width: 25%;
      margin-bottom: 3.5rem;
    }
  }

  &--is-hidden {

    .js & {

      .s-catalog__breadcrumb,
      .s-catalog__header,
      .s-catalog__section-title,
      .s-filter__title,
      .s-filter__list {
        transform: $transform-from-hidden;
        opacity: 0;
      }
    }
  }
}