mixin product-card(image, title, mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +product-card()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-product-card--' + modsList[i].trim();
      }
    }

  .s-product-card.s-product-card--is-hidden(class=allMods)&attributes(attributes)
    .s-product-card__cover
      img(src=image, alt='', width='335', height='240')
    .s-product-card__info
      h3.s-product-card__title #{title}
      dl.s-product-card__desc-list
        .s-product-card__group
          dt.s-product-card__term Pn, МПа:
          dd.s-product-card__desc 10-40
        .s-product-card__group
          dt.s-product-card__term D, мм:
          dd.s-product-card__desc 4-8
      .s-product-card__actions
        a.s-product-card__action-link(href='/') Подробнее
        a.s-product-card__action-link(href='/') Заказать