.s-page-footer {
  position: relative;
  padding: 3rem 1rem 0 1rem;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $text-color;
    transform: scaleX(1);
    transform-origin: left center;
    transition: $transition-duration $transition-timing;
    will-change: transform;
  }

  @media (min-width: $screen-sm) {
    padding: 5rem 1rem 3rem 1rem;
  }

  &__inner {
    @include section-inner;
  }

  &__intro,
  &__block {
    opacity: 1;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
  }

  &__intro {
    font-size: ms(-1);
    line-height: 1.5em;
    margin-bottom: 3rem;
    transition-delay: 0.9s;
  }

  &__logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 0;
      margin-bottom: 0.25rem;
    }

    img {
      display: block;
      transform: translateY(-1px);

      @media only screen and (max-width: ($screen-sm - 1)) {
        flex: 0 0 28px;
        max-width: 28px;
        height: 30px;
      }

      @media only screen and (min-width: $screen-sm) {
        position: absolute;
        left: 1.5rem;
        top: -10px;
      }
    }
  }

  &__slogan {
    display: block;
    font-weight: 500;
    margin-left: 0.5rem;

    @media only screen and (min-width: $screen-sm) {
      margin-left: calc(28px + 2.5rem);
    }

    @media only screen and (min-width: $screen-md) {
      margin-left: calc(28px + 3rem);
    }
  }

  &__desc {
    display: block;
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-left: calc(28px + 2.5rem);
      margin-right: 1.5rem;
    }

    @media only screen and (min-width: $screen-md) {
      margin-left: calc(28px + 3rem);
    }
  }

  &__block {
    padding-left: 1rem;
    padding-right: 1rem;
    transition-delay: 0.95s;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &--nav {
      margin-top: 1.5rem;
      transition-delay: 1s;

      @media only screen and (min-width: $screen-xs) {
        margin-top: 0;
      }
    }

    &--contacts {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      transition-delay: 1.05s;

      @media only screen and (min-width: $screen-md) {
        margin: 0;
      }
    }
  }

  &__list {

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
    }

    &:hover,
    &:focus {

      a[href$='.html'] {

        @media only screen and (min-width: $screen-sm) {
          opacity: 0.25;
        }
      }
    }

    li {
      font-size: ms(-1);
      line-height: 1.4em;

      a {
        display: inline-block;
        font-weight: 400;
        color: currentColor;
        transition: 0.25s $transition-timing--linear;
        padding-bottom: 0.5rem;

        &:hover,
        &:focus {
          opacity: 1;
          color: currentColor;
        }
      }

      a:not([href$='.html']) {
        position: relative;

        &::after {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0.5rem;
          width: 100%;
          background-color: currentColor;
          height: 1px;
          opacity: 0;
          transition: 1s $transition-timing--linear;
        }

        &:hover,
        &:focus {
          text-decoration: none;

          &::after {
            opacity: 1;
          }
        }
      }

      a[href$='.html'] {
        font-weight: 500;

        &:hover,
        &:focus {
          text-decoration: none;

          @media only screen and (min-width: $screen-sm) {
            opacity: 1;
          }
        }
      }

      address {
        font-weight: 400;
      }
    }
  }

  &__privacy {
    padding: 1.5rem 1rem;
    font-size: ms(-2);
    line-height: 1.4em;
    border-top: 1px solid $grid-col-color;
    opacity: 1;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
    transition-delay: 0.9s;

    @media only screen and (min-width: $screen-sm) {
      padding: 7.5rem 1.5rem 0 1.5rem;
      border-top: 0;
    }
  }

  &--is-hidden {

    .js & {

      &::before {
        transform: scaleX(0);
      }

      .s-page-footer__intro,
      .s-page-footer__block,
      .s-page-footer__privacy {
        transform: $transform-from-hidden;
        opacity: 0;
      }
    }
  }
}