mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer.s-page-footer--is-hidden(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__inner
      .s-page-footer__info
        .row
          .col.col-12.col-lg-3
            .s-page-footer__intro
              +logo('/').s-page-footer__logo
                img(src='img/logo.png', alt='Constructsol логотип', width='38', height='41')
                span.s-page-footer__slogan Конструктивные решения
              strong.s-page-footer__desc Трубопроводные соединения высокого давления
          .col.col-12.col-sm-6.col-lg-3
            .s-page-footer__block.s-page-footer__block--services
              ul.s-page-footer__list
                li: a(href='/.html') Производство соединений и арматуры​
                li: a(href='/.html') Механическая обработка и литье металлов
                li: a(href='/.html') Разработка конструкторской документации
                li: a(href='/.html') Разработка технических условий
          .col.col-12.col-sm-6.col-lg-3
            .s-page-footer__block.s-page-footer__block--nav
              ul.s-page-footer__list
                li: a(href='/.html') О компании
                li: a(href='/.html') Сертификаты
                li: a(href='/.html') Справочная информация
                li: a(href='/.html') Контакты
                li: a(href='/.html') Карта сайта
          .col.col-12.col-sm-6.col-lg-3
            .s-page-footer__block.s-page-footer__block--contacts
              ul.s-page-footer__list
                li: a(href='tel:+78129222647') +7 812 922-26-47
                li: a(href='mailto:info@constructsol.ru') info@constructsol.ru
                li: address Санкт-Петербург, пр. Обуховской обороны 7
                li
                  +call-back-btn('Заказать звонок')
      .s-page-footer__privacy
        .row
          .col.col-12
            span © 2019 — ООО “Конструктивные решения”
