.s-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  pointer-events: none;
  z-index: 100;

  &__inner {
    @include section-inner;
  }

  &__col {
    border-right: 1px solid $grid-col-color;
    height: 100vh;
    transition: height 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:first-child {
      border-left: 1px solid $grid-col-color;
    }

    @for $i from 1 through 4 {

      &:nth-child(#{$i}) {
        transition-delay: 300ms + ($i * 150ms);
      }
    }

    &--is-hidden {

      .js & {
        height: 0;
      }
    }
  }
}