mixin grid()

  .s-grid
    .s-grid__inner
      .s-grid__row.row
        .s-grid__col.s-grid__col--is-hidden.col
        .s-grid__col.s-grid__col--is-hidden.col.d-none.d-sm-block
        .s-grid__col.s-grid__col--is-hidden.col.d-none.d-md-block
        .s-grid__col.s-grid__col--is-hidden.col.d-none.d-md-block