.s-contacts {
  padding: 0 1rem;
  position: relative;
  z-index: 101;

  &__inner {
    @include section-inner;
  }

  &__map {
    position: relative;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (9 / 21) * 100%;

      @media only screen and (max-width: ($screen-sm - 1)) {
        padding-top: (9 / 16) * 100%;
      }
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: -100%;
      width: 200%;
      height: 100%;
      background-color: $text-color;
      background-image:
        linear-gradient(to right,
          $text-color,
          $text-color 50%,
          $bg-color 50%,
          $bg-color 100%);
      transform: translate3d(calc(100% + 1px), 0, 0);
      will-change: transform;
      transition: $transition-duration $transition-timing;
      transition-delay: 1.25s;
      z-index: 2;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition-duration $transition-timing--linear;
      transition-delay: 1.5s;
    }
  }

  &__content {
    transition: $transition-duration $transition-timing--linear;
    transition-delay: 2.5s;
  }

  &__contact-inner {
    padding: 2.25rem 1rem 3rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 2.25rem 1.5rem 3rem;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__subtitle {
    font-size: ms(-1);
    line-height: 1.4em;
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-weight: 400;
    opacity: 0.5;
  }

  &__link {
    font-size: ms(-1);
    line-height: 1.4em;
    display: inline-block;
    font-weight: 500;
    color: currentColor;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -0.125rem;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
      transform: scaleX(0);
      transition: transform 0.5s $transition-timing;
      transform-origin: right center;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;

      &::after {
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
  }

  &__address {
    font-size: ms(-1);
    line-height: 1.4em;
    display: inline-block;
    font-weight: 500;
    margin: 0;
  }

  &__feedback {

    @media only screen and (min-width: $screen-sm) {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $text-color;
        transform: scaleX(1);
        transform-origin: left center;
        transition: $transition-duration $transition-timing;
        will-change: transform;
      }
    }
  }

  &__feedback-desc {
    font-size: ms(1);
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 500;
    padding: 0 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 0 1.5rem;
    }
  }

  &__feedback-inner {
    padding: 2.25rem 0;

    @media only screen and (min-width: $screen-sm) {
      padding: 3rem 0;
    }
  }

  &--is-hidden {

    .js & {

      .s-contacts__map {

        &::after {
          transform: translate3d(0, 0, 0);
        }

        img {
          transform: translate3d(-6rem, 0, 0);
        }
      }

      .s-contacts__content {
        opacity: 0;
      }
    }
  }
}