mixin next-article(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +next-article()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-next-article--' + modsList[i].trim();
      }
    }

  a.s-next-article(class=allMods, href='/')&attributes(attributes)
    .s-next-article__inner
      .row
        .col.col-12.col-md-9.col-lg-6.offset-lg-3
          .s-next-article__briefly
            span.s-next-article__subtitle Следующая статья
            h3.s-next-article__title Присоединительные размеры
            .s-next-article__actions
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 10', wudth='10', height='10')
                path(fill-rule='evenodd', d='M5 0c-.36819 0-.66667.298477-.66667.666667V4.33333H.666667C.298472 4.33333 0 4.63181 0 5c0 .36819.298472.66667.666667.66667H4.33333v3.66666C4.33333 9.70152 4.63181 10 5 10c.36819 0 .66667-.29848.66667-.66667V5.66667h3.66666C9.70153 5.66667 10 5.36819 10 5c0-.36819-.29847-.66667-.66667-.66667H5.66667V.666667C5.66667.298477 5.36819 0 5 0z', clip-rule='evenodd')
        .col.col-12.col-md-3.d-none.d-md-block
          .s-next-article__additional
            .s-next-article__date
              span.s-next-article__day 09.10
              span.s-next-article__year 2019