.s-next-article {
  display: block;
  background-color: $text-color;
  color: #fff;
  padding: 3rem 1rem;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darken($text-color, 5%);
    z-index: 1;
    transform: scaleY(0);
    transition: transform 1s $transition-timing--linear;
    transform-origin: center bottom;
    z-index: 1;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;

    &::before {
      transform: scaleX(1);
      transform-origin: center top;
    }

    .s-next-article__actions {
      border: 1px solid rgba(#fff, 1);
    }
  }

  @media (min-width: $screen-sm) {
    padding: 3.75rem 1rem;
  }

  &__inner {
    @include section-inner;
    position: relative;
    z-index: 2;
  }

  &__briefly {
    padding: 0 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 0 1.5rem;
    }
  }

  &__subtitle {
    display: block;
    opacity: 0.5;
    font-size: ms(-1);
    line-height: 1.4em;
    margin-bottom: 0.75rem;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 2.25rem;
    font-weight: 500;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(2);
      line-height: 1.1em;
    }
  }

  &__actions {
    width: 46px;
    height: 46px;
    border-radius: 46px;
    border: 1px solid rgba(#fff, 0.125);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 1s cubic-bezier(.01, .72, .74, 1);
    margin-top: 1.5rem;
    z-index: 2;
    position: relative;

    svg {
      display: block;
      fill: currentColor;
    }
  }

  &__additional {
    padding: 0 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      text-align: right;
    }
  }

  &__date {
    line-height: 1em;
    opacity: 0.5;
    font-feature-settings: 'onum'1;

    @supports (font-variant: lining-nums) {
      font-feature-settings: normal;
      font-variant-numeric: oldstyle-nums;
      font-kerning: normal;
    }
  }

  &__day {
    font-size: ms(-1);
    line-height: 1em;
    display: inline-block;
    vertical-align: baseline;
    font-weight: 500;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(1);
      display: block;
    }
  }

  &__year {
    font-size: ms(-2);
    line-height: 1.3em;
    display: inline-block;
    vertical-align: baseline;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(-1);
      display: block;
    }
  }
}