mixin why-choose-us(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +why-choose-us()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-why-choose-us--' + modsList[i].trim();
      }
    }

  section.s-why-choose-us.s-why-choose-us--is-hidden(class=allMods)&attributes(attributes)
    .s-why-choose-us__inner
      .row
        .col.col-12.col-md-3
          .s-why-choose-us__intro
            h2.s-why-choose-us__title: span Почему нужно выбрать нас
        .col.col-12.col-md-9
          .s-why-choose-us__content-wrap
            .row
              .col.col-12.col-md-8
                .s-why-choose-us__content
                  h3.s-why-choose-us__subtitle Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                  .s-why-choose-us__text
                    p Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    p Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  +btn()(href='/')
                    | Узнать подробнее о нас
                    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 11', width='12', height='11')
                      path(d='M11.7347 4.81325L8.03368.77883c-.34105-.371773-.90947-.371773-1.25052 0-.34105.37177-.34105.99139 0 1.36317l2.18526 2.39587H.884211C.391579 4.53787 0 4.96472 0 5.50172c0 .53701.391579.96386.884211.96386H8.96842l-2.18526 2.3821c-.34105.37177-.34105.99139 0 1.36312.17684.1928.40421.2892.63158.2892.22737 0 .45473-.0964.63158-.2892l3.68838-4.02061c.1642-.179.2653-.42685.2653-.68847s-.0884-.50947-.2653-.68847z')