.s-why-choose-us {
  padding: 3rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 3.75rem 1rem 7.5rem;
  }

  &__inner {
    @include section-inner;
  }

  &__intro {
    padding: 0 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 5rem 1.5rem 0 1.5rem;
    }
  }

  &__title,
  &__content {
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
    transition-delay: 1.25s;
  }

  &__title {
    @include section-title;
  }

  &__content-wrap {

    @media only screen and (min-width: $screen-sm) {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $text-color;
        transform: scaleX(1);
        transform-origin: left center;
        transition: $transition-duration $transition-timing;
        will-change: transform;
      }
    }
  }

  &__content {
    padding: 1.5rem 1rem 0 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 4.5rem 1.5rem 0 1.5rem;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: ms(1);
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-sm) {
      line-height: 1.3em;
    }
  }

  &__text {
    margin-bottom: 1.5rem;

    p {
      font-size: ms(-1);
      line-height: 1.5em;
      margin-top: 0.75rem;
    }
  }

  &--is-hidden {

    .js & {

      .s-why-choose-us__title,
      .s-why-choose-us__content {
        transform: $transform-from-hidden;
        opacity: 0;
      }

      .s-why-choose-us__content-wrap {

        &::before {
          transform: scaleX(0);
        }
      }
    }
  }
}