.s-product-promo {
  position: relative;
  padding: 1rem 1rem 3rem 1rem;

  &__cover {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition-duration: 1s;
    transition-timing-function: $transition-timing--linear;
    transition-delay: 0s;

    @media only screen and (max-width: ($screen-sm - 1)) {
      margin-bottom: 1.5rem;

      &::after {
        display: block;
        content: '';
        width: 100%;
        padding-top: (3 / 4) * 100%;
      }
    }

    @media only screen and (min-width: $screen-sm) {
      position: absolute;
      top: 0;
      right: 0;
      width: 62.5%;
      height: 100%;
    }

    img {
      object-fit: contain;
      object-position: center center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__breadcrumb {
    margin-bottom: 3rem;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &__content {
    position: relative;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      align-items: center;
      min-height: 75vh;
    }
  }

  &__inner {
    @include section-inner;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    z-index: 2;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__breadcrumb,
  &__title,
  &__intro,
  &__btn {
    opacity: 1;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
    transition-delay: 1.75s;
  }

  &__subtitle {
    font-size: ms(-1);
    line-height: 1.4em;
    margin-bottom: 3rem;
    display: inline-block;
    font-weight: 500;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &__title {
    font-size: ms(3);
    line-height: 1.1em;
    margin-bottom: 0.75rem;
    font-weight: 500;
    opacity: 1;

    @media only screen and (max-width: ($screen-sm - 1)) {
      font-size: ms(2);
    }
  }

  &__intro {
    font-size: ms(-1);
    line-height: 1.5em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &--is-hidden {

    .js & {

      .s-product-promo__cover {
        opacity: 0;
      }

      .s-product-promo__breadcrumb,
      .s-product-promo__title,
      .s-product-promo__intro,
      .s-product-promo__btn {
        transform: $transform-from-hidden;
        opacity: 0;
      }
    }
  }
}