.s-product-sketch {
  padding: 3rem 1rem;
  opacity: 1;
  transition-duration: 1s;
  transition-timing-function: $transition-timing--linear;
  transition-delay: 0s;

  @media only screen and (min-width: $screen-sm) {
    padding: 7.5rem 1rem;
  }

  &__inner {
    @include section-inner;
    padding-left: 1rem;
    padding-right: 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &--is-hidden {

    .js & {
      opacity: 0;
    }
  }
}