.s-call-back-btn {
  font-weight: 500;
  padding: 0;
  color: currentColor;
  position: relative;
  padding-right: 1.25rem;

  &::before {
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    background-color: $primary-color;
    border-radius: 1rem;
    top: 50%;
    right: 0;
    transform: translate3d(0, -6px, 0);
    transition: all 0.75s cubic-bezier(0,.58,.7,1);
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: $primary-color;
    opacity: 0.25;
    border-radius: 1rem;
    top: 50%;
    right: -0.25rem;
    transform: translate3d(0, -11px, 0) scale(0.5);
    transition: all 0.75s cubic-bezier(0,.58,.7,1);
    z-index: 1;
  }

  &:hover,
  &:focus {

    &::before {
      transform: translate3d(0, -6px, 0) scale(0.75);
    }

    &::after {
      transform: translate3d(0, -11px, 0) scale(1.25);
    }
  }
}