mixin call-back-btn(text)

  //- Param:
    mods {string}     - modifiers

  //- Use:
    +btn('text')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-call-back-btn--' + modsList[i].trim();
      }
    }

  button.s-call-back-btn(class=allMods, type='button')&attributes(attributes) #{text}