extends pug/layout.pug

block meta
  - var title = 'Articles';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  .s-articles.s-articles--is-hidden
    .s-articles__inner
      .s-articles__breadcrumb
        +breadcrumb()
          +breadcrumb-item('Главная', 'index.html')
          +breadcrumb-item('Справочная информация')
      .s-articles__header
        h1.s-articles__title Справочная информация
      .s-articles__list
        +article-card('Порядок монтажа')
        +article-card('Размеры труб')
        +article-card('Присоединительные размеры')
        +article-card('Порядок монтажа')

block footer
  +page-footer