extends pug/layout.pug

block meta
  - var title = 'Catalog';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  .s-catalog.s-catalog--is-hidden
    .s-catalog__inner
      .s-catalog__breadcrumb
        +breadcrumb()
          +breadcrumb-item('Главная', 'index.html')
          +breadcrumb-item('Продукция')
      .s-catalog__header
        h1.s-catalog__title Продукция
        +download-catalog().s-catalog__download-catalog
      .s-catalog__filter
        +filter()
      .s-catalog__catalog
        section.s-catalog__section
          h2.s-catalog__section-title: span Гайки
          ul.s-catalog__list
            li.s-catalog__item
              +product-card('img/category-example-1.jpg', 'Муфта переходная')
            li.s-catalog__item
              +product-card('img/category-example-2.jpg', 'Муфта переходная')
            li.s-catalog__item
              +product-card('img/category-example-3.jpg', 'Муфта переходная')
            li.s-catalog__item
              +product-card('img/category-example-4.jpg', 'Муфта переходная')
            li.s-catalog__item
              +product-card('img/category-example-1.jpg', 'Муфта переходная')
            li.s-catalog__item
              +product-card('img/category-example-2.jpg', 'Муфта переходная')
            li.s-catalog__item
              +product-card('img/category-example-3.jpg', 'Муфта переходная')
        section.s-catalog__section
          h2.s-catalog__section-title: span Муфты
          ul.s-catalog__list
            li.s-catalog__item
              +product-card('img/category-example-1.jpg', 'Муфта переходная')
            li.s-catalog__item
              +product-card('img/category-example-2.jpg', 'Муфта переходная')
            li.s-catalog__item
              +product-card('img/category-example-3.jpg', 'Муфта переходная')
        section.s-catalog__section
          h2.s-catalog__section-title: span Тройники
          ul.s-catalog__list
            li.s-catalog__item
              +product-card('img/category-example-1.jpg', 'Муфта переходная')
            li.s-catalog__item
              +product-card('img/category-example-2.jpg', 'Муфта переходная')
            li.s-catalog__item
              +product-card('img/category-example-3.jpg', 'Муфта переходная')
            li.s-catalog__item
              +product-card('img/category-example-4.jpg', 'Муфта переходная')

block footer
  +page-footer