extends pug/layout.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  .s-contacts.s-contacts--is-hidden
    .s-contacts__inner
      .s-contacts__map
        img(src='img/map-placeholder.jpg', alt='')
      .s-contacts__content
        .row
          .col.col-12
            .s-contacts__contact
              .row
                .col.col-12.col-lg-3.offset-lg-3
                  .s-contacts__contact-inner
                    h1.s-contacts__title Aenean euismod bibendum laoreet proin gravida
                    ul.s-contacts__list
                      li.s-contacts__item
                        h3.s-contacts__subtitle Телефон
                        a.s-contacts__link(href='tel:+78129222647') +7 812 922-26-47
                      li.s-contacts__item
                        h3.s-contacts__subtitle E-mail
                        a.s-contacts__link(href='mailto:info@constructsol.ru') info@constructsol.ru
                      li.s-contacts__item
                        h3.s-contacts__subtitle Адрес
                        address.s-contacts__address Санкт-Петербург, пр. Обуховской обороны 7
          .col.col-12.col-lg-9.offset-lg-3
            .s-contacts__feedback
              .row
                .col.col-12.col-lg-8
                  .s-contacts__feedback-inner
                    .row
                      .col.col-12.col-lg-6
                        h2.s-contacts__feedback-desc Aenean euismod bibendum laoreet
                    +form()
                      +field-text({
                        title: 'Имя',
                        attrs: {
                          placeholder: 'Акакий'
                        }
                      })
                      +field-text({
                        title: 'Телефон',
                        attrs: {
                          placeholder: 'Nokia 3310'
                        }
                      })
                      +field-text({
                        title: 'Комментарий',
                        mods: '',
                        isTextarea: true,
                        attrs: {
                          placeholder: 'Текст сообщения'
                        }
                      })
                      +field-actions()
                        +btn()
                          | Отправить заявку
                          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 11', width='12', height='11')
                            path(d='M11.7347 4.81325L8.03368.77883c-.34105-.371773-.90947-.371773-1.25052 0-.34105.37177-.34105.99139 0 1.36317l2.18526 2.39587H.884211C.391579 4.53787 0 4.96472 0 5.50172c0 .53701.391579.96386.884211.96386H8.96842l-2.18526 2.3821c-.34105.37177-.34105.99139 0 1.36312.17684.1928.40421.2892.63158.2892.22737 0 .45473-.0964.63158-.2892l3.68838-4.02061c.1642-.179.2653-.42685.2653-.68847s-.0884-.50947-.2653-.68847z')

block footer
  +page-footer