extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  +promo
  +categories
  +why-choose-us
  +services
  +reference-info

block footer
  +page-footer