extends pug/layout.pug

block meta
  - var title = 'Product page';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  section.s-product-promo.s-product-promo--is-hidden
    .s-product-promo__content
      .s-product-promo__cover
        img(src='img/promo-img.jpg', alt='', width='335', height='240')
      .s-product-promo__inner
        .row
          .col.col-md-5
            .s-product-promo__breadcrumb
              +breadcrumb()
                +breadcrumb-item('Главная', 'index.html')
                +breadcrumb-item('Продукция', 'catalog.html')
                +breadcrumb-item('Гайка накидная')
            h1.s-product-promo__title Гайка накидная
            p.s-product-promo__intro Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
            .s-product-promo__btn
              +btn()(href='/')
                | Сделать заказ
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 11', width='12', height='11')
                  path(d='M11.7347 4.81325L8.03368.77883c-.34105-.371773-.90947-.371773-1.25052 0-.34105.37177-.34105.99139 0 1.36317l2.18526 2.39587H.884211C.391579 4.53787 0 4.96472 0 5.50172c0 .53701.391579.96386.884211.96386H8.96842l-2.18526 2.3821c-.34105.37177-.34105.99139 0 1.36312.17684.1928.40421.2892.63158.2892.22737 0 .45473-.0964.63158-.2892l3.68838-4.02061c.1642-.179.2653-.42685.2653-.68847s-.0884-.50947-.2653-.68847z')

  .s-product-info.s-product-info--is-hidden
    .s-product-info__inner
      .row
        .col.col-12.col-sm-6.col-md-3
          .s-product-info__certificates
            ul.s-product-info__certificates-list
              li.s-product-info__certificates-item
                a.s-product-info__certificates-link ISO 8434-1
              li.s-product-info__certificates-item
                a.s-product-info__certificates-link Din 2353
              li.s-product-info__certificates-item
                a.s-product-info__certificates-link ГОСТ 15763-2005
        .col.col-12.col-sm-6.col-md-9
          .s-product-info__content-wrap
            .row
              .col.col-12.col-md-8
                .s-product-info__content
                  h3.s-product-info__subtitle Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                  .s-product-info__text
                    p Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    p Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              .col.col-12.col-md-4
                .s-product-info__spec
                  dl.s-product-info__spec-list
                    .s-product-info__spec-group
                      dt.s-product-info__spec-term Pn, МПа:
                      dd.s-product-info__spec-desc 10-40
                    .s-product-info__spec-group
                      dt.s-product-info__spec-term D, мм:
                      dd.s-product-info__spec-desc 4-8

  .s-product-sketch.s-product-sketch--is-hidden
    .s-product-sketch__inner
      img(src='img/draw.svg', alt='')

  .s-product-table
    .s-product-table__inner
      .row
        .col.col-12.col-lg-6.offset-lg-3
          +table()
            thead
              tr
                th Наружный диаметр
                th T
                th D2, мм
                th D5, мм
                th S1, мм
            tbody
              tr
                td(colspan='5') L Серия
              tr
                td 06-L
                td M12x1.5
                td 5.5
                td 10.38
                td 14
              tr
                td 06-L
                td M12x1.5
                td 5.5
                td 10.38
                td 14
              tr
                td 06-L
                td M12x1.5
                td 5.5
                td 10.38
                td 14
              tr
                td 06-L
                td M12x1.5
                td 5.5
                td 10.38
                td 14
              tr
                td(colspan='5') S Серия
              tr
                td 06-L
                td M12x1.5
                td 5.5
                td 10.38
                td 14
              tr
                td 06-L
                td M12x1.5
                td 5.5
                td 10.38
                td 14
              tr
                td 06-L
                td M12x1.5
                td 5.5
                td 10.38
                td 14
              tr
                td 06-L
                td M12x1.5
                td 5.5
                td 10.38
                td 14
              tr
                td 06-L
                td M12x1.5
                td 5.5
                td 10.38
                td 14
              tr
                td 06-L
                td M12x1.5
                td 5.5
                td 10.38
                td 14
              tr
                td 06-L
                td M12x1.5
                td 5.5
                td 10.38
                td 14
              tr
                td 06-L
                td M12x1.5
                td 5.5
                td 10.38
                td 14

block footer
  +page-footer