$modularscale: (
  base: 1em,
  ratio: $augmented-fourth
);

body {
  word-break: break-word;
}

p {
  font-feature-settings: 'kern'1, 'liga'1, 'dlig'0, 'calt'1, 'onum'1, 'lnum'0, 'pnum'1, 'tnum'0, 'frac'1;
  margin-top: 1rem;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures no-discretionary-ligatures contextual oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Text links
p a,
li a {

  &:hover,
  &:focus {}
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: 'kern'1, 'liga'1, 'dlig'0, 'calt'1, 'onum'1, 'lnum'0, 'pnum'1, 'tnum'0;
  font-style: normal;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures no-discretionary-ligatures contextual oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Heading level 1
h1 {
  font-size: ms(4);
  line-height: 1.1em;
}

// Heading level 2
h2 {
  font-size: ms(3);
  line-height: 1.1em;
}

// Heading level 3
h3 {
  font-size: ms(2);
  line-height: 1.1em;
}

// Heading level 4
h4 {
  font-size: ms(1);
  line-height: 1.3em;
}

// Heading level 5
h5 {
  font-size: ms(0);
  line-height: 1.4;
}

// Heading level 6
h6 {
  font-size: ms(0);
  line-height: 1.4em;
}

// Lists
ul,
ol {

  &:not([class]) {

    li {
      font-feature-settings: 'kern', 'liga', 'onum';
      margin-left: 1.3rem;
      margin-top: 0.25rem;

      @media (min-width: $screen-sm) {
        margin-left: 0;
      }

      @supports (font-variant: common-ligatures) {
        font-feature-settings: normal;
        font-variant: common-ligatures oldstyle-nums;
        font-kerning: normal;
      }

      ol,
      ul {
        margin-left: 2rem;
      }
    }
  }
}

// Unordered lists
ul {

  &:not([class]) {

    li {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
        background-color: currentColor;
        opacity: 0.2;
        left: -1rem;
        top: 0.7rem;
        transform: translate3d(-50%, 0, 0);
      }
    }
  }
}

// Ordered lists
ol {
  counter-reset: section;
  list-style-type: none;

  li {

    &::before {
      counter-increment: section;
      content: counters(section, ".");
      font-weight: 700;
    }
  }
}

// Definition lists
dl {

  dt,
  dd {
    font-feature-settings: 'kern', 'onum', 'liga';
    margin-left: 0;

    @supports (font-variant: common-ligatures) {
      font-feature-settings: normal;
      font-variant: common-ligatures oldstyle-nums;
      font-kerning: normal;
    }
  }

  dt {
    font-weight: 700;
  }

  dd+dt {
    padding-top: 0.5rem;
  }
}

// Time
time {
  font-feature-settings: 'kern'1, 'liga'1, 'calt'1, 'onum'1, 'lnum'0, 'pnum'1, 'tnum'0;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Bold
b,
strong,
.bold {
  font-weight: bold;
}

// Italic
em,
i,
.italic {
  font-style: italic;
}

// Caption and inline small text
small,
.caption {
  font-style: normal;
}

// Letter space capitals
.upper {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'kern';

  @supports (font-kerning: normal) {
    font-feature-settings: normal;
    font-kerning: normal;
  }
}

// Real small caps
abbr,
.small-caps {
  text-transform: uppercase;
  font-feature-settings: 'kern'1, 'liga'1, 'calt'1, 'smcp'1, 'c2sc'1, 'onum'1, 'lnum'0, 'pnum'1, 'tnum'0;
  letter-spacing: 0.075em;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual all-small-caps oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Supercript numerals
sup,
.sup {
  font-feature-settings: 'kern'1, 'liga'1, 'calt'1, 'dlig'0, 'sups'1, 'onum'1, 'lnum'0, 'pnum'1, 'tnum'0;

  @supports (font-variant-position: super) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual no-discretionary-ligatures oldstyle-nums proportional-nums;
    font-kerning: normal;
    font-variant-position: super;
  }
}

// Subscript numerals
sub,
.sub {
  font-feature-settings: 'kern'1, 'liga'1, 'calt'1, 'dlig'0, 'subs'1, 'onum'1, 'lnum'0, 'pnum'1, 'tnum'0;

  @supports (font-variant-position: sub) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual no-discretionary-ligatures oldstyle-nums proportional-nums;
    font-kerning: normal;
    font-variant-position: sub;
  }
}

// Consistent height numbers
.lining-numerals {
  font-feature-settings: 'lnum', 'kern';

  @supports (font-variant: lining-nums) {
    font-feature-settings: normal;
    font-variant: lining-nums;
    font-kerning: normal;
  }
}

// Ascending and descending numbers
.oldstyle-numerals {
  font-feature-settings: 'onum', 'kern';

  @supports (font-variant: oldstyle-nums) {
    font-feature-settings: normal;
    font-variant: oldstyle-nums;
    font-kerning: normal;
  }
}