// Width
$screen-xs:                   576px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;

// Project colors
$text-color:                  #22282a;
$text-color--lighter:         lighen($text-color, 25%);
$bg-color:                    #eef3f6;
$bg-color--shade:             #f8fafb;
$bg-color--dark:              $text-color;
$primary-color:               #0079c1;

// Semantic colors
$success:                     #16c98d;
$warning:                     #ffc83f;
$danger:                      #fa5e5b;

// Font
$font-family: Geometria, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-family--monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', nospace;

// Misc
$border-color: rgba($text-color, 0.1);
$border-radius: 2px;
$opacity: 0.5;
$box-shadow: 0 15px 45px -15px rgba($text-color, 0.25);

$grid-col-color: rgba($text-color, 0.1);

$transition-duration: 2s;
$transition-timing: cubic-bezier(0.9, .01, .01, 1);
$transition-timing--linear: cubic-bezier(0.165, 0.84, 0.44, 1);

$transform-from-hidden: matrix(1.05, 0, 0, 1, -20, 0);

// Layout mixins
@mixin section-padding {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 7.5rem 1rem;
  }
}

@mixin section-inner {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

@mixin section-title {
  font-size: ms(-1);
  line-height: 1.4em;
  font-weight: 500;

  span {
    position: relative;

    &::after {
      position: relative;
      content: '';
      background-color: $primary-color;
      height: 1px;
      width: 2.5rem;
      right: 0;
      margin-left: 0.75rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
}