mixin filter(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +filter()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-filter--' + modsList[i].trim();
      }
    }

  .s-filter(class=allMods)&attributes(attributes)
    h2.s-filter__title: span Фильтр
    ul.s-filter__list
      li.s-filter__item
        a.s-filter__link Гайки
      li.s-filter__item
        a.s-filter__link Муфты
      li.s-filter__item
        a.s-filter__link Угловые соединения
      li.s-filter__item
        a.s-filter__link Тройники
      li.s-filter__item
        a.s-filter__link Крестовины
      li.s-filter__item
        a.s-filter__link Штуцеры
      li.s-filter__item
        a.s-filter__link Клапаны