.s-filter {

  @media only screen and (min-width: $screen-xs) {
    display: flex;
    flex-flow: row wrap;
  }

  &__title {
    @include section-title;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.75rem;
    opacity: 1;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
    transition-delay: 1.75s;

    @media only screen and (min-width: $screen-xs) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 25%;
      max-width: 25%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__list {
    opacity: 1;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
    transition-delay: 1.8s;

    @media only screen and (min-width: $screen-xs) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 75%;
      max-width: 75%;
      column-count: 3;
      column-gap: 0;
    }
  }

  &__item {
    padding-left: 1rem;
    padding-right: 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__link {
    font-size: ms(-1);
    line-height: 1.3em;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 0.25rem;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
      transform: scaleX(1);
      transition: transform 0.5s $transition-timing;
      transform-origin: left center;
    }

    &:hover,
    &:focus {

      &::after {
        transform: scaleX(0);
        transform-origin: right center;
      }
    }
  }
}