.s-category-card {
  position: relative;
  color: currentColor;
  display: block;
  overflow: hidden;

  &:hover,
  &:focus {
    text-decoration: none;
    color: currentColor;

    .s-category-card__caption {
      text-decoration: none;

      &::after {
        transform: scaleX(0);
        transform-origin: right center;
      }
    }

    .s-category-card__cover {

      img {
        transform: scale(1.05);
      }
    }
  }

  &__cover {
    position: relative;
    margin-bottom: 0.75rem;
    overflow: hidden;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 1rem;
    }

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: (3 / 4) * 100%;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: -100%;
      width: 200%;
      height: 100%;
      background-color: $text-color;
      background-image:
        linear-gradient(
          to right,
          $text-color,
          $text-color 50%,
          $bg-color 50%,
          $bg-color 100%);
      transform: translate3d(calc(100% + 1px),0,0);
      will-change: transform;
      transition-duration: 2s;
      transition-timing-function: $transition-timing;
      transition-delay: 0s;
      z-index: 2;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
      transition-duration: 1s;
      transition-timing-function: $transition-timing--linear;
      will-change: transform;
      transform-origin: center center;
    }
  }

  &__info {
    padding-left: 1rem;
    padding-right: 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__caption {
    font-size: ms(-1);
    line-height: 1.3em;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 0.25rem;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
      transform: scaleX(1);
      transition: transform 0.5s $transition-timing;
      transform-origin: left center;
    }
  }
}