mixin category-card(image, title)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +category-card()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-category-card--' + modsList[i].trim();
      }
    }

  a.s-category-card(href='/', class=allMods)&attributes(attributes)
    .s-category-card__cover
      img(src=image, alt='', width='335', height='240')
    .s-category-card__info
      h3.s-category-card__caption #{title}