.s-hamburger {
  padding: 0;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  span {
    display: inline-block;
    width: 1.75rem;
    height: 1px;
    background-color: $text-color;
    margin: 0.25rem 0;

    &:first-child {

    }
  }
}